.background-one {
	background-image: url(../SurfandPaddle/images/header.jpg);
	width: 1300px;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.header {/*margin-left: 122px*//*; padding: 30px;*/

}

.about { float: right;
margin-right: 17px;
width: 60px;

}

.topleftwords {
	vertical-align: top;
   margin-top: 6px; 
  display: inline-block;
  padding:10px;
  color: rgb(10, 34, 35);

}

.subtitle { 
height: 50px;
width: 345px;
margin-left: 398px;

font-size: small;


}

.headcontainer {
height: 65px;
width: 645px;
margin-top: 145px;
margin-left: 216px;
font-size: 64px;

}

.container {
	width: 960px;
	height: 700px;
	margin: 0 auto;
	background-color: red;
}

.Search {
float: right;
margin-right: 21px;
padding-right: -5px;
width: 69px;
margin-top: 17px


}



.mag { float: right; 
	display: inline;
margin-left: -35px;
margin-top: 17px;

}
}