.background-one {
	background-image: url(../SurfandPaddle/images/header.jpg);
	width: 1300px;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.header {color: #08344f;

}

.about { float: right;
margin-right: 3px;
width: 60px;
font-family: 'Oswald', sans-serif;

}

.Mauris {color:#5d676e

}

.topleftwords {
	vertical-align: top;
   margin-top: 6px; 
  display: inline-block;
  padding:10px;
  color: rgb(10, 34, 35);
font-family: 'PT Sans', sans-serif;
font-size: 12px;
}

.lor {width: 603px;
	font-family: 'PT Sans', sans-serif;
	color: #5d676e;
}

.subtitle { 
height: 50px;
width: 345px;
margin-left: 377px;
font-size: 12px;
font-family: 'PT Sans', sans-serif;
color: #08344f
}

.Anne { margin-left: 13px;
font-family: 'PT Sans', sans-serif;
color: #106fb3;
}



.headcontainer {
height: 91px;
width: 865px;
margin-top: 100px;
margin-left: 57px;
font-size: 85px;
font-family: 'PT Sans', sans-serif;
color: white;


}

.container {
	width: 960px;
	height: 523px;
	margin: 0 auto;
	
}

.Search {
float: right;
margin-right: 7px;
padding-right: -5px;
width: 69px;
margin-top: 16px;
font-family: 'Oswald', sans-serif;


}

.leftcolumn {margin-left: 170px;
	height: 800px;
width: 613px;

float:left;
font-family: 'PT Sans', sans-serif;


}

.rightcolumn {height: 800px;
float: right;
width: 310px;
background-color: blue;
margin-right: 170px;

}
.rsidebar {height: 40px;
 background-color: yellow;
 margin-left: 32px; }

 .rightpara {height: 175px;
 background-color: green;
 margin-left: 32px; 

 }


.mag { float: right; 
	display: inline;
margin-left: -35px;
margin-top: 17px;

}

.on {margin-left: 18px;

}

.avatar1 {float: left; width: 22px;

}

.on {margin-left: 13px;
font-family: 'PT Sans', sans-serif;
color: #bac6cf;
}

.chic {color: #b6c2cc

}



.L {height: 32px;
width: 135px;
background-color: blue;
margin-left: 20px;
float: left; 

}

.LL { height: 32px;
	width:35px;
	background-color: yellow;
	float:left;

}

.comment { width: 25px;
padding-left: 6px;
padding-top: 5px;

}

.LR {float: right;
	background-color: palegreen;
width: 100px;
height: 32px;
}

.ML {height: 32px;
width: 35px;
background-color: yellow;
float: left;
}

.MR {float: right;
	background-color: palegreen;
width: 100px;
height: 32px;
}

.RL {height: 32px;
width: 35px;
background-color: yellow;
float: left;

}

.aiqua {color: #2179b8;

}

.RR {float: right;
	background-color: palegreen;
width: 100px;
height: 32px;}

.rightpic {text-align: center;
padding-top: 60px;
 font-family: 'PT Sans', sans-serif;
 color: #106fb3
}

.M {height: 32px;
width: 135px;
background-color: blue;
margin-left: 20px;
float: left;
}

.R {height: 32px;
width: 135px;
background-color: blue;
margin-left: 20px;
float: left;
}

.lbottom {height: 32px;
width: 611px;
background-color: red;
}

button: {border-style: none;}






.Whoa {margin-top: 16px;
height: 43px;
padding-top: 24px;
font-family: 'PT sans',sans-serif;
padding-left: 36px;
font-size: 25px;
border-left: 2px #DFDFDF solid;
color :#106fb3;

}

.Date {
font-family: 'PT Sans', sans-serif;
color: #bac6cf}


.sub-heading {
width: 452px;
height: 21px;}

.fantastic {
	font-weight: bold;
	width: 579px;
font-size: 53px;
padding-top: 50px;
margin-left: 0px;
font-family: 'PT Sans', sans-serif;
color: #083452;

}

.TFI {background-color: red;
height: 17px;
margin-top: 3px;
}

.ad {padding-top: 19px
}

.Twitter{height: 17px;
text-align: center;
width: 70px;
background-color: green;
float: left;
margin-left: 58px;
border-right: solid 1px #c2c2c2;

  
}

.lady{float: left;
padding-left: 34px;}

.adright {float: right;text-decoration: underline;}



.Facebook{height: 17px;
width: 88px;
background-color: green;
float: left;
margin-left: 10px;
border-right: solid 1px #c2c2c2;
text-align: center;



}

.Instagram{height: 17px;
width: 70px;
background-color: green;
float: left;
margin-left: 10px;

}

.imgdiv{height: 365px;
background-color: antiquewhite;
padding-top: 42px;


}















