.background-one {
	background-image: url(../SurfandPaddle/images/header.jpg);
	width: 1300px;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.header {color: #08344f;

}

.about { float: right;
margin-right: 3px;
width: 60px;
font-family: 'Oswald', sans-serif;

}

.Mauris {color:#5d676e

}

.topleftwords {
	vertical-align: top;
   margin-top: 6px; 
  display: inline-block;
  padding:10px;
  color: rgb(10, 34, 35);
font-family: 'PT Sans', sans-serif;
font-size: 12px;
}

.lor {width: 603px;
	font-family: 'PT Sans', sans-serif;
	color: #5d676e;
}

.subtitle { 
height: 53px;
width: 345px;
margin-left: 350px;
font-size: 14px;
font-family: 'PT Sans', sans-serif;
color: #08344f;
padding-top: 18px;
}

.Anne { margin-left: 13px;
font-family: 'PT Sans', sans-serif;
color: #106fb3;
}



.headcontainer {
height: 91px;
width: 865px;
margin-top: 100px;
margin-left: 60px;
font-size: 97px;
font-family: 'PT Sans', sans-serif;
color: white;


}

.container {
	width: 960px;
	height: 523px;
	margin: 0 auto;
	
}

.Search {
float: right;
margin-right: 7px;
padding-right: -5px;
width: 69px;
margin-top: 16px;
font-family: 'Oswald', sans-serif;


}

.leftcolumn {margin-left: 170px;
	height: 800px;
width: 613px;

float:left;
font-family: 'PT Sans', sans-serif;


}

.rightcolumn {height: 800px;
float: right;
width: 310px;
margin-right: 170px;
color: #a2b2bd;
font-family: 'PT Sans', sans-serif;

}
.rsidebar {height: 40px;
margin-left: 32px;
font-weight: bolder;
color: #106fb3;
font-size: 18PX;
font-family: 'Oswald', sans-serif;
}

 .rightpara {height: 175px;
 margin-left: 32px; 

 }


.mag { float: right; 
	display: inline;
margin-left: -35px;
margin-top: 17px;

}

.on {margin-left: 18px;

}

.avatar1 {float: left; width: 22px;

}

.on {margin-left: 13px;
font-family: 'PT Sans', sans-serif;
color: #bac6cf;
}

.chic {color: #b6c2cc

}



.L {height: 32px;
width: 135px;
background-color: blue;
margin-left: 20px;
float: left; 

}

.LL { height: 32px;
	width:35px;
	background-color: #5d676e;
	float:left;

}

.comment { width: 25px;
padding-left: 6px;
padding-top: 5px;

}

.LR {float: right;
	background-color: #a2b2bd;
width: 100px;
height: 24px;
font-size: 14px;
padding-top: 8px;
}

.ML {height: 32px;
width: 35px;
background-color: #5d676e;
float: left;
}

.MR {float: right;
	background-color: #a2b2bd;
width: 100px;
height: 32px;
font-size: 15px
}

.RL {height: 32px;
width: 35px;
background-color: #5d676e;
float: left;

}

.aiqua {color: #2179b8;

}

.RR {float: right;
	background-color: #a2b2bd;
width: 100px;
height: 25px;
font-size: 15px;
padding-top: 7px;}

.rightpic {text-align: center;
padding-top: 60px;
 font-family: 'PT Sans', sans-serif;
 color: #106fb3
}

.M {height: 32px;
width: 135px;
background-color: blue;
margin-left: 20px;
float: left;
}

.R {height: 32px;
width: 135px;
background-color: blue;
margin-left: 20px;
float: left;
}

.lbottom {height: 32px;
width: 611px; color: white;

}








.Whoa {margin-top: 16px;
height: 43px;
padding-top: 24px;
font-family: 'PT sans',sans-serif;
padding-left: 36px;
font-size: 25px;
border-left: 2px #DFDFDF solid;
color :#106fb3;

}

.Date {
font-family: 'PT Sans', sans-serif;
color: #bac6cf}


.sub-heading {
width: 452px;
height: 21px;}

.fantastic {
	font-weight: bold;
	width: 579px;
font-size: 53px;
padding-top: 50px;
margin-left: 0px;
font-family: 'PT Sans', sans-serif;
color: #083452;

}

.mixtape {color: #a2b2bd}

.TFI {
height: 17px;
margin-top: 3px;
}

.ad {padding-top: 19px
}

.Twitter{height: 17px;
text-align: center;
width: 70px;
float: left;
margin-left: 58px;
border-right: solid 1px #c2c2c2;

  
}

.lady{float: left;
padding-left: 34px;}

.adright {float: right;
	text-decoration: underline;
color: #a2b2bd}



.Facebook{height: 17px;
width: 88px;
float: left;
margin-left: 10px;
border-right: solid 1px #c2c2c2;
text-align: center;



}

.Instagram{height: 17px;
width: 70px;
float: left;
margin-left: 10px;

}

.imgdiv{height: 365px;
padding-top: 42px;


}

.botcon {height: 478px;
margin-top: 867px;

}

.C1 {height: 110px;
text-align: center;
border-top: solid 2px #e1e6e8;
}


.pop {color: #083452;
font-size: 65px;
font-family: 'Oswald', sans-serif;
height: 45px;


}

.C2 {font-family: 'Oswald', sans-serif;
color: gray;
height: 364px;
width: 358px;
background-color: #3e82b3;
float: left;
position: relative;
color: white ;

}

.C2:hover {color: white !important;}

.bald:hover {opacity: 1;
	color: white;}

	.beer:hover {opacity: 1}

	.hangover:hover{opacity: 1}

	.liquor:hover{opacity: 1}

.T1:hover {color: white;
}

.T2:hover {color: white;}
.T3:hover{color: white;}
.T4:hover{color: white;}
 


.bald {
opacity: 0.4; 
width: 358px; 
}

.C3 {font-family: 'Oswald', sans-serif;
color: #124669;
height: 364px;
width: 358px;
background-color: #3e82b3;
float: left;
position: relative;
}

.C4 {height: 364px;
width: 358px;
background-color: #3e82b3;
float: left;
position: relative;
font-family: 'Oswald', sans-serif;
color: #124669;
}

.C5 {height: 364px;
width: 359px;
background-color: #3e82b3;
float: left;
position: relative;
font-family: 'Oswald', sans-serif;
color: #124669;}

.footer {background-color: #083452;
	height: 107px;
width: 1433px;
float: left;}

.F1 {height: 107px;
	width: 700px;
	float: left;
	
}


.F2 {height: 107px;
	width: 730px;
	float: left;
	
}

.IY {padding-left: 202px;
padding-top: 24px;
float: left;}

.copyright {color: #a2b2bd;
margin-left: 20px;
padding-top: 1px;
float: left;
margin-top: 39px;}

.nav1{margin-left: 211px;
margin-top: 43px;
float: left;
border-right: solid 1px #9aabb8;
padding-right: 7px;
color: #9aabb8;
}

.nav2{margin-left: 8px;
margin-top: 43px;
float: left;
width: 80px;
height: 16px;
border-right: #9aabb8 solid 1px;
color: #9aabb8 

}
.nav3{margin-left: 8px;
margin-top: 43px;
float: left;
width: 80px;
height: 16px;
border-right: #9aabb8  solid 1px;
color: #9aabb8; }

.nav4{margin-left: 8px;
margin-top: 43px;
float: left;
width: 80px;
height: 16px;
border-right: #9aabb8  solid 1px;
color: #9aabb8;}

.nav5{margin-left: 8px;
margin-top: 43px;
float: left;
width: 80px;
height: 16px;
border-right: #9aabb8  solid 1px;
color: #9aabb8 ;}

.T1 {position : absolute;
	height: 20px;
	width: 296px;
	left: 0;
	top: 311px;
	font-size: 27px;
	padding-left: 15px;
	color: #083452
	
}	

.T2 {position: absolute;
height: 20px;
width: 216px;
left: 0;
top: 306px;
font-size: 29px;
padding-left: 15px;
color: #083452
}

	.T3 {position: absolute;
height: 20px;
width: 278px;
left: 0;
top: 263px;
font-size: 27px;
padding-left: 15px;
color: #083452}

.T4 {position: absolute;
height: 20px;
width: 278px;
left: 0;
top: 263px;
font-size: 27px;
padding-left: 15px;
color: #083452;}

.beer { width: 358px;
 opacity: 0.4;}

.hangover {opacity: 0.4;
	width: 358px;
}

.liquor {opacity: 0.4;
width: 358px;}

/*.C1:a {color: color: #083452}*/

.L:hover > .LL{background-color:#083452 ;color:white ;}

.L:hover > .LR{background-color:#106fb3 ;color:white ;}

.M:hover > .ML{background-color:#083452 ;color:white ;}

.M:hover > .MR{background-color:#106fb3 ;color:white ;}

.R:hover > .RL{background-color:#083452 ;color:white ;}


.R:hover > .RR{background-color:#106fb3 ;color:white ;}

.C1:hover > .bald {opacity:0 ;color: whit











